:root {
    --clr-purple: #cad1ff;
    --clr-blue-100: #c2f0f7;
    --clr-blue-200: #99d6ed;
    --clr-green: #c6ed99;
    --clr-orange: #fdd7ac;
    --clr-gray: #e5edeb;
    --clr-yellow: #f9ffca;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

input,
textarea {
    border: none;
    resize: none;
}

/* Utility class */
.bg-gray {
    background-color: var(--clr-gray);
}

.bg-blue-100 {
    background-color: var(--clr-blue-100);
}

.bg-blue-200 {
    background-color: var(--clr-purple);
}

.text-center {
    text-align: center;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.btn {
    border: none;
    cursor: pointer;
    padding: 1em;
}

/* Welcome Page */
.content-container {
    margin: 5rem;
}

.title {
    margin: 2rem;
}

.btn-container {
    margin: 3rem;
    gap: 3rem;
}

.login-btn {
    background-color: var(--clr-blue-200);
    font-size: 2rem;
}

.register-btn {
    background-color: var(--clr-green);
    font-size: 2rem;
}
